<date></date>
<address-card [user] = "user"> </address-card>

<div class="container">
	<div class="card card-danger m-2">
		<div class="card-header  p-2">Example of two way data binding:</div>
		<div class="card-body">
			<input type="text" [(ngModel)]="textInput">
			<p>{{textInput}}</p>
		</div>
	</div>

	<div class="row notes">
		<div class="col-4">
			<div>
				<b>Data Flow:</b><br>
				[ ] -> component to view<br>
				( ) -> view to component
			</div>
		</div>
		<div class="col-4">
			<div>
				<b>One way binding:</b><br>
				Either [ ] or ( )<br>
				<b>Two way binding:</b><br>
				[( )] : Banana in the box
			</div>
		</div>
		<div class="col-4">
			<div>
				<b>Directives:</b><br>
				*ngIf<br>
				*ngFor<br>
				*ngModel
			</div>
		</div>
	<div style="font-size: 120%">
		

	</div>
	</div>
</div>

<app-new></app-new>	
<hr>
<div class="container">
	<h2>Services</h2>
	<h3>Angular Notations:</h3>
	<ul>
		<li>@NgModule: Angular Module</li>
		<li>@Component: Angular Component</li>
		<li>@Injectable: Angular Service</li>
	</ul>
	<h3>@NgModule consist of different parts:</h3>
	<ul>
		<li>declarations: Contain all the components used by the module.</li>
		<li>imports: Contain all other modules needed for the module.</li>
		<li>providers: Contain all the services used by the module.</li>
	</ul>
	<h4>Create a dependency injection:</h4>
	<ol>
		<li>Create a service: ng generate service service_name</li>
		<li>Services that are used in a module are declared inside: 'providers' array in app.module</li>
		<li>Import the service in the component where the service is used in app.component</li>
		<li>Inject the service in the constructor as: <br>
	 		constructor(svc: TestService)
	 	</li>
	</ol>
	<div class="card card-body">
		<p>Result: {{service}}</p>	
	</div>
</div>

<hr>
<div class="container">
	<h3>HttpClient</h3>
	<h4>Steps:</h4>
	<ol>
		<li>Import the module: HttpClientModule from '@angular/common/http'</li>
		<li>Import the angular module in imports array under @NgModule</li>
		<li>Import in the component: HttpClient from '@angular/common/http'</li>
		<li>Inject in the contructor to instantiate:  private http: HttpClient</li>
		<li>Make a http call like get request: this.http.get('https://api.github.com/users/gurvsxen487')
			<br>
			 - It makes a asynchronous call. <br>
			 - The asynchronous call return a <b>observable</b> (Promises in angular 1) <br>
			 - We can excute a function to make sure the asynchronous call is done. <br>
			 - It is the done by <b>subscribe</b> function present in http service.
		</li>
		<li>We can see the response by the <b>response</b> object by passing it as a argument in subscribe function.</li>
		<li>See the result in the console.</li>
	</ol>
	
</div>





















