<date></date>
<address-card [user] = "user"> </address-card>

<div class="container">
	<div class="card card-danger m-2">
		<div class="card-header  p-2">Example of two way data binding:</div>
		<div class="card-body">
			<input type="text" [(ngModel)]="textInput">
			<p>{{textInput}}</p>
		</div>
	</div>

	<div class="row notes">
		<div class="col-4">
			<div>
				<b>Data Flow:</b><br>
				[ ] -> component to view<br>
				( ) -> view to component
			</div>
		</div>
		<div class="col-4">
			<div>
				<b>One way binding:</b><br>
				Either [ ] or ( )<br>
				<b>Two way binding:</b><br>
				[( )] : Banana in the box
			</div>
		</div>
		<div class="col-4">
			<div>
				<b>Directives:</b><br>
				*ngIf<br>
				*ngFor<br>
				*ngModel
			</div>
		</div>
	<div style="font-size: 120%">
		

	</div>
	</div>
</div>

<app-new></app-new>	