<hr>
<div class="container">
	<h3>Component of another Module</h3>
	<ol>
		<li>Create a module: "ng generate module module_name"</li>
		<li>Create a component in the new module : "ng generate component module_name/component_name"</li>
		<li>Export the component from module_name.module.ts: exports: [ NewComponent],</li>
		<li>Import the new module in app.module.ts: <br>
			 - imports: [NewmoduleModule]
		</li>
	</ol>


	<div class="card p-2">
		<div class="card-title">Shared Service</div>
		<div class="card-body">
		<p>Get the service from the app.module due to the "Shared service space"</p>
		<p>Result: {{service}}</p>		
		</div>
	</div>

</div>